<div ng-app = "logged" ng-controller="LoggedController">
  <div class="row"> 
    <img ng-src={{state.user.image}}/> {{state.user.name}} <a href="/signout">Sign out</a> 
  </div>
  <%= render 'create_game' %>
  <%= render 'join_game' %>
  <%= render 'cancel_game' %>  
  <%= render 'show_applicants' %>
  <%= render 'show_game_state' %>  

</div>
